@import "@/styles/utils";

.professional-service {
    padding-top: $spacer * 4;
    padding-bottom: $spacer * 4;
    @media (min-width: map-get($grid-breakpoints, "md")) {
        padding-top: $spacer * 5;
        padding-bottom: $spacer * 5;
    }
}

.professional-service__title {
    font-size: $font-size-base * 3;
    margin-bottom: $spacer * 2;
    position: relative;
    @media (min-width: map-get($grid-breakpoints, "md")) {
        font-size: $font-size-base * 4;
    }
}

.professional-service__item {
    margin-bottom: $spacer * 2;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        margin-bottom: $spacer * 4;
        flex-wrap: nowrap;
        &:nth-child(2n - 1) {
            flex-direction: row-reverse;
            justify-content: flex-end;
            & > div:nth-child(2n) {
                margin-left: calc(100% / 12);
            }
            & > div:nth-child(2n - 1) {
                margin-left: calc(-12px - 100% / 24);
            }
        }
        &:nth-child(2n) {
            & > div:nth-child(2n - 1) {
                margin-left: calc(100% / 12);
            }
            & > div:nth-child(2n) {
                margin-left: calc(-12px - 100% / 24);
            }
        }
    }
}

.professional-service__content-wrap {
    width: 100%;
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        width: calc(450% / 12);
    }
}

.professional-service__image-wrap {
    width: 100%;
    aspect-ratio: 636 / 320;
    & > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.professional-service__content {
    &::before {
        content: "";
        display: block;
        width: 30px;
        height: 2.5px;
        background-color: $primary;
        margin: 18.75px 5px;
        border-radius: 2.5px;
    }
}
