@import "@/styles/utils";

.banner__avatar {
    background: url("/images/bg-alyse-mobile.webp") no-repeat 0 0 / cover;
    padding-top: 100%;
    @media (min-width: 768px) {
        padding-top: 0px;
        max-height: 834px;
    }
}

.banner__about {
    background: url("/images/bg-banner-mobile-rotate.webp") no-repeat center center / 100% 100%;
    padding: 24px 24px 200px;
    & .banner__about-name {
        font-size: 52px;
    }
    @media (min-width: map-get($grid-breakpoints, "md")) {
        padding: 160px 32px;
        & .banner__about-name {
            font-size: 48px;
        }
    }
    @media (min-width: map-get($grid-breakpoints, "lg")) {
        & .banner__about-name {
            font-size: 60px;
        }
    }
    @media (min-width: map-get($grid-breakpoints, "xl")) {
        & .banner__about-name {
            font-size: 96px;
        }
    }
    @media (min-width: map-get($grid-breakpoints, "xxl")) {
        padding: 300px 80px;
        & .banner__about-name {
            font-size: 120px;
        }
    }
}
