@import "@/styles/utils";

* {
    font-family:
        "Noto Sans TC",
        system-ui,
        -apple-system,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        "Liberation Sans",
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol",
        "Noto Color Emoji";
}

.w-fit {
    width: fit-content;
}
.h-fit {
    height: fit-content;
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
}

p {
    color: map-get($theme-colors, "gray");
}