// break-points map
$break-points: (
    xs: 0,
    sm: 425px,
    md: 768px,
    lg: 1024px,
    xl: 1440px,
    xxl: 1600px,
);
$grid-breakpoints: map-merge($grid-breakpoints, $break-points);

// theme-colors map
$gray-theme-colors: (
    "gray": #4b4b4b,
);

// @each $key, $value in $grays {
//     $gray-theme-colors: map-merge(
//         $gray-theme-colors,
//         (
//             "gray-#{$key}": $value,
//         )
//     );
// }

$theme-colors: map-merge($theme-colors, $gray-theme-colors);

// spacers map
$override-spacers: (
    "3": $spacer * .75,
    "4": $spacer,
    "5": $spacer * 1.25,
    "6": $spacer * 1.5,
);

// @for $i from 1 through 24 {
//   $override-spacers: map-merge(
//     $override-spacers,
//     (
//       "#{$i}": $spacer * 0.25 * $i
//     )
//   );
// }
$spacers: map-merge($spacers, $override-spacers);

// font size map
$override-font-sizes: (
    "0": 52px,
    "max": 120px,
);

$font-sizes: map-merge($font-sizes, $override-font-sizes);
