@import "@/styles/utils";

.article-card {
    height: 100%;
    .article-card__image-wrap {
        width: 100%;
        height: 200px;
        flex-grow: 0;
        background-color: map-get($theme-colors, "gray");
        // & > img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        // }
    }
    .article-card__read-more {
        outline: 1px solid $black;
        outline-offset: -1px;
        color: map-get($theme-colors, "gray");
        border-radius: calc(infinity * 1px);
    }
}
